* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #05d4df;
    --color-secondary: #5d58ef;

    --orange-secondary: #f0aa00;

    --sky-blue: #01acfd;
    --sky-secondary: #64c8ff;
    --purple-secondary: #8700ff;

    --text-secondary: #202020;
    --subtitle: #808080;
}
/* Global styles */

.quicksand_font {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;

    font-style: normal;
}
.nav_button,
.banner_btn,
.stories_btn {
    padding: 10px 60px;
    background: orange;
    border: none;
    border-radius: 12px;
    font-size: 1.25rem;
    /* font-weight: 400; */
    color: white;
}

/* body */

body {
    max-width: 1440px;
    margin: 0px auto;
}
.header,
.banner {
    max-width: 1200px;
    margin: 0 140px;
    /* background: lightblue; */
}
/* Header Styles */
.header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav_title img {
    /* width: 52px; */
    height: 62px;
}

.nav_title h2 {
    font-size: 2rem;
    font-weight: bold;
}

.header_container ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 32px;
}

.header_container ul a {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 600;
}
body > header > nav > ul > li:nth-child(1) > a {
    color: orange;
}
body > header > nav > ul > li:nth-child(2) > a {
    color: var(--sky-blue);
}
body > header > nav > ul > li:nth-child(3) > a {
    color: var(--sky-secondary);
}
body > header > nav > ul > li:nth-child(4) > a {
    color: var(--color-secondary);
}
.multiple {
    display: none;
}

/*!  Banner Styles */
.banner_container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 50px;
}
.banner_content {
    width: 640px;
}
.banner_title {
    font-size: 3.5rem;
    font-weight: bold;
}
.banner_sub {
    font-size: 20px;
    margin: 24px 0;
}
.banner_btn,
.stories_btn {
    padding: 10px 46px;
    background: black;
    color: white;

    font-weight: bold;
}

/* ! curriculum styles */
.main {
    background: linear-gradient(
            0deg,
            rgba(254, 161, 1, 0.199),
            rgba(255, 255, 255, 0.384)
        ),
        url("./assets/bg.png") no-repeat center center/cover;
}

.main .curriculum {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.main .curriculum,
.stories {
    margin: 0 140px;
    padding: 60px 0px;
}
.curriculum_title,
.stories_title {
    font-size: 3rem;
    font-weight: bold;
}
.curriculum_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}
.curriculum_container,
.stories_container {
    padding: 80px 0px;
}
.curriculum_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 18px;
    padding: 50px 40px;
    /* background: lightblue; */
}
.curriculum_items.item1 {
    /* background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.05),
            rgba(222, 245, 255, 1)
        )
        no-repeat center center/cover; */

    background: linear-gradient(
        to bottom,
        rgba(222, 245, 255, 1),
        rgba(0, 0, 0, 0.05)
    );
}

.curriculum_items.item2 {
    background: linear-gradient(
        to bottom,
        rgba(255, 244, 220, 1),
        rgba(0, 0, 0, 0.05)
    );
}
.curriculum_items.item3 {
    background: linear-gradient(
        to bottom,
        rgba(255, 244, 220, 1),
        rgba(0, 0, 0, 0.05)
    );
}
.curriculum_items h3 {
    font-size: 24px;
    color: var(--text-secondary);
    font-weight: bold;
}
.curriculum_items .item_sub {
    font-size: 15px;
    line-height: 28px;
    color: var(--subtitle);
}

.curriculum_items a {
    text-decoration: none;
    font-weight: bold;
}

.curriculum_icons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.curriculum_icons > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: orange;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
}

/* Stories Styles */
.stories {
    text-align: center;
}
.stories_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* align-items: center; */
    gap: 18px;
}
.stories_items {
    border-radius: 16px;
    background: white;
    text-align: left;
}
.stories_items img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.stories_items.item1 {
    grid-row: 1 / span 2;
    position: relative;
}
.stories_items.item2.special {
    display: none;
}
.stories_items.item1 .span,
.stories_items.item2 .span,
.stories_items.item3 .span,
.stories_items.item4 .span,
.stories_items.item5 .span {
    position: relative;
    left: 40px;
    bottom: 20px;
}
.stories_items.item1 .span span,
.stories_items.item2 .span span,
.stories_items.item3 .span span,
.stories_items.item4 .span span,
.stories_items.item5 .span span {
    background: #3cd8e8;
    padding: 15px 20px;
    display: inline;
    border-radius: 45px;
    color: white;
}
.stories_items.item2 .span span,
.stories_items.item4 .span span,
.stories_items.item5 .span span {
    background: #95b226;
}
.stories_items.item3 .span span {
    background: #5d58f0;
}
.stories_items.item2 .span span,
.stories_items.item3 .span span,
.stories_items.item4 .span span,
.stories_items.item5 .span span {
    padding: 10px 20px;
}

.stories_items.item1 h4 {
    font-size: 24px;
    padding: 25px 40px;
}
.stories_items.item2 h4,
.stories_items.item3 h4,
.stories_items.item4 h4,
.stories_items.item5 h4 {
    padding: 30px;
}
.stories_items.item1 p {
    font-size: 1rem;
    color: #666666;

    padding: 25px 40px 25px;
}

/* Footer */

footer {
    background: #01acfd;
    padding: 125px 140px 175px;
    color: white;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.footer_content {
    /* padding-right: 50px; */
    max-width: 400px;
}
.footer_con_title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer_con_title img {
    width: 82px;
    height: 100%;
}
.footer_content p {
    font-size: 20px;
    color: #ffffff;
    margin-top: 35px;
    text-align: justify;
}
.footer_con_title h1 {
    font-size: 40px;
}
.footer_items.item2 ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 30px;
}
.footer_items.item2 ul a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.footer_items.item3 h2 {
    margin-bottom: 32px;
    font-size: 26px;
}

@media screen and (max-width: 576px) {
    .header,
    .banner,
    .main .curriculum,
    .stories {
        margin: 0 16px;
    }
    .header {
        border-bottom: 0.5px solid orange;
    }
    .header_container,
    .banner_container {
        padding: 12px 18px;
    }
    .nav_title h2,
    .header_container ul,
    .nav_button {
        display: none;
    }
    .nav_title img {
        width: 46px;
        height: 46px;
    }
    .multiple {
        display: block;
    }
    .multiple {
        font-size: 25px;
        font-weight: lighter;
    }

    /* banner */

    .banner_container {
        flex-direction: column-reverse;
        text-align: center;
        gap: 20px;
    }
    .banner_content {
        width: 100%;
    }
    .banner_img img {
        width: 232px;
    }
    .banner_content {
        width: 100%;
    }

    .banner_title {
        font-size: 2rem;
    }
    .banner_sub {
        font-size: 14px;
        margin: 18px 0;
    }

    .banner_btn {
        padding: 6px 24px;
        font-size: 16px;
        font-weight: bold;
    }

    /* .curriculum sections */

    .curriculum_container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 0;
    }
    .curriculum_title {
        font-size: 26px;
        gap: 12px;
    }
    .curriculum_items {
        padding: 20px 16px;
    }
    .curriculum_icons {
        display: none;
    }

    /* Stories */
    .stories_container {
        grid-template-columns: repeat(2, 1fr);
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .stories_items.item1.hide {
        display: none;
    }
    .stories_items img {
        width: 100%;
    }
    .stories_items.item1 .span,
    .stories_items.item2 .span,
    .stories_items.item3 .span,
    .stories_items.item4 .span,
    .stories_items.item5 .span {
        position: relative;
        left: 20px;
        bottom: 20px;
    }
    .stories_items.item1 .span span,
    .stories_items.item2 .span span,
    .stories_items.item3 .span span,
    .stories_items.item4 .span span,
    .stories_items.item5 .span span {
        font-size: 9px;
    }
    .stories_items.item2 h4,
    .stories_items.item3 h4,
    .stories_items.item4 h4,
    .stories_items.item5 h4 {
        padding: 12px 20px 30px;
    }

    /* Footer */
    footer {
        padding: 50px 20px;
    }
    .footer_container {
        flex-direction: column;
        gap: 20px;
    }
    .footer_content {
        width: 100%;
    }
    .footer_content p {
        font-size: 16px;
    }
    .footer_con_title h1 {
        font-size: 35px;
    }
    .footer_items.item2 ul {
        gap: 20px;
    }
    .footer_items.item3 h2 {
        margin-top: 2rem;
    }
}
